langchain-community
torch
transformers
sentence-transformers
langchain
tqdm
accelerate
pypdf
chromadb
unidecode
accelerate
boto3
botocore
chromadb==0.3.23
opentelemetry-api==1.14.0
opentelemetry-sdk==1.14.0
opentelemetry-exporter-otlp-proto-grpc==1.14.0
protobuf==3.20.3
gradio
huggingface-hub
langchain
llama-index
pydantic
torch
tqdm
transformers
unidecode
urllib3
